@page "/"

<PageTitle>Index</PageTitle>

<h2>Test below:</h2>

@MarkdownFragment

<InputTextArea  @bind-Value="@_input"></InputTextArea>

@code {

    private string _input = "hello \n there";
    
    private string Input
    {
        get => _input;
        set
        {
            _input = value; 
            StateHasChanged();
        }
    }
    
    public RenderFragment MarkdownFragment => builder =>
    {   
        var pipeline = new MarkdownPipelineBuilder().DisableHtml().Build();
        Markdown.RenderToFragment(_input, builder, pipeline);
    };
}